.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 10px 20px;
  color: yellow;
}

.website-name {
  font-size: 24px;
}

.login-button {
  background-color: yellow;
  color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.login-button:hover {
  background-color: darkorange;
}
